 .body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        padding: 20px;
        width: 100%;
    }

    table {
        width: 80%;
        margin: auto;
        border-collapse: collapse;
        background: #fff;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }

    th, td {
        padding: 12px;
        text-align: center;
        border: 1px solid #ddd;
    }

    th {
        background-color: #333;
        color: white;
        text-transform: uppercase;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
img{
    width: 230px;
    height: 130px;

}
.button{
    padding: 3px;
    margin: 1px;
    border-radius: 7px;

}

    